/*
* Oink
* Copyright Oink Bank 2013
* www.oinkbank.co
*/
/* line 17, ../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/oink.scss */
body {
  font-size: 0.9em;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
}

/* line 21, ../sass/oink.scss */
a, a:visited {
  text-decoration: none;
  outline: 0;
}

/* line 25, ../sass/oink.scss */
a:hover, a:focus {
  text-decoration: underline;
}

/* line 26, ../sass/oink.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 24px 0;
  color: #454545;
}

/* line 30, ../sass/oink.scss */
h1, h2 {
  margin: 0 0 32px 0;
}

/* line 31, ../sass/oink.scss */
h5, h6 {
  margin: 0 0 20px 0;
}

/* line 32, ../sass/oink.scss */
h1 {
  font-size: 3em;
}

/* 42px */
/* line 33, ../sass/oink.scss */
h2 {
  font-size: 2.5em;
}

/* 36px */
/* line 34, ../sass/oink.scss */
h3 {
  font-size: 2em;
}

/* 28px */
/* line 35, ../sass/oink.scss */
h4 {
  font-size: 1.7em;
}

/* 24px */
/* line 36, ../sass/oink.scss */
h5 {
  font-size: 1.4em;
}

/* 20px */
/* line 37, ../sass/oink.scss */
h6 {
  font-size: 1.1em;
}

/* 16px */
/* line 38, ../sass/oink.scss */
p {
  margin: 0 0 24px 0;
  font-size: 1.4em;
}

/* line 39, ../sass/oink.scss */
strong {
  font-weight: 700;
}

/* line 40, ../sass/oink.scss */
i {
  font-style: italic;
}

/* line 42, ../sass/oink.scss */
img {
  max-width: 100%;
  height: auto;
}

/*
* Get Structure
* Copyright Ace Eight of Spades 2013
* www.aceeightofspades.com/get-structure
*/
/*
* Oink
* Copyright Oink Bank 2013
* www.oinkbank.co
*/
/*
* Oink
* Copyright Oink Bank 2013
* www.oinkbank.co
*/
/*
* Oink
* Copyright Oink Bank 2013
* www.oinkbank.co
*/
/* line 13, ../sass/_forms.scss */
input[type="text"], input[type="email"],
input[type="search"], input[type="password"],
input[type="tel"], input[type="url"],
textarea, select {
  border-radius: 3px;
  border: 1px solid #BBB;
  color: #777;
  font-size: 0.8em;
  line-height: 1;
  margin: 0 0 10px 0;
  outline: none;
  padding: 7px 8px 8px 8px;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 25, ../sass/_forms.scss */
input[type="search"] {
  -webkit-appearance: textfield;
}

/* line 29, ../sass/_forms.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* line 31, ../sass/_forms.scss */
button {
  background: #FFF;
  border-radius: 3px;
  border: 1px solid #BBB;
  color: #666;
  cursor: pointer;
  display: block;
  height: 16px;
  padding: 7px;
  width: 16px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 42, ../sass/_forms.scss */
button:hover {
  background: #999;
}

/*
* Oink
* Copyright Oink Bank 2013
* www.oinkbank.co
*/
/* line 61, ../sass/oink.scss */
.hide {
  display: none !important;
  visibility: hidden;
}

/* line 66, ../sass/oink.scss */
.visualhide {
  border: 0;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 78, ../sass/oink.scss */
.invisible {
  visibility: hidden;
}

/* line 83, ../sass/oink.scss */
body {
  font-family: 'Open Sans', sans-serif;
  background: #F5F5F5;
  padding-top: 0;
}

/* line 89, ../sass/oink.scss */
header {
  border-top: 1px solid #666;
  border-bottom: 1px solid #191919;
  -moz-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.03);
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.03);
  height: 59px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: #2f2e33;
  background-image: -webkit-linear-gradient(top, #444249, #2f2e33);
  background-image: -moz-linear-gradient(top, #444249, #2f2e33);
  background-image: -ms-linear-gradient(top, #444249, #2f2e33);
  background-image: -o-linear-gradient(top, #444249, #2f2e33);
}

/* line 102, ../sass/oink.scss */
a.user {
  background: inherit;
  border-right: 1px solid #29292C;
  display: block;
  float: left;
  padding: 14px 15px 13px 15px;
  width: 22%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 110, ../sass/oink.scss */
a.user:hover {
  background-color: #232226;
  background-image: -webkit-linear-gradient(top, #1b1b1d, #232226);
  background-image: -moz-linear-gradient(top, #1b1b1d, #232226);
  background-image: -ms-linear-gradient(top, #1b1b1d, #232226);
  background-image: -o-linear-gradient(top, #1b1b1d, #232226);
}
/* line 111, ../sass/oink.scss */
a.user.active {
  background-color: #232226;
  background-image: -webkit-linear-gradient(top, #1b1b1d, #232226);
  background-image: -moz-linear-gradient(top, #1b1b1d, #232226);
  background-image: -ms-linear-gradient(top, #1b1b1d, #232226);
  background-image: -o-linear-gradient(top, #1b1b1d, #232226);
}
/* line 112, ../sass/oink.scss */
a.user img {
  background: #666;
  border-radius: 18px;
  border: 2px solid #FFF;
  float: left;
  height: 28px;
  margin: 0 15px 0 0;
  width: 28px;
}
/* line 121, ../sass/oink.scss */
a.user detail {
  float: left;
  height: 32px;
  overflow: hidden;
}
/* line 125, ../sass/oink.scss */
a.user detail h6 {
  color: #FFF;
  font-size: 1em;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  vertical-align: middle;
}
/* line 132, ../sass/oink.scss */
a.user detail h6 span.admin {
  background: #999;
  border-radius: 2px;
  color: #FFF;
  display: inline-block;
  font-size: 0.6em;
  height: 12px;
  line-height: 12px;
  margin: 1px 0 0 6px;
  width: 12px;
  text-align: center;
  vertical-align: top;
}
/* line 146, ../sass/oink.scss */
a.user detail company {
  color: #CCC;
  font-size: 0.7em;
}
/* line 151, ../sass/oink.scss */
a.user notify {
  background: #F66;
  border-radius: 24px;
  color: #FFF;
  float: right;
  font-size: 0.8em;
  font-weight: 700;
  height: 20px;
  line-height: 20px;
  margin: 6px 0;
  text-align: center;
  width: 20px;
}

/* line 165, ../sass/oink.scss */
tools {
  border-right: 1px solid #29292C;
  float: left;
  height: 100%;
  padding: 14px 15px;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 172, ../sass/oink.scss */
tools belt {
  display: block;
  height: 32px;
}
/* line 175, ../sass/oink.scss */
tools belt search {
  background: #FFF;
  border: 1px solid #191919;
  border-radius: 3px;
  color: #777;
  float: left;
  height: 30px;
  margin: 0;
  position: relative;
  width: 200px;
  z-index: 4444;
}
/* line 186, ../sass/oink.scss */
tools belt search button, tools belt search a.btn {
  border: none;
  border-radius: 1px 0 0 1px;
  border-right: 1px solid #191919;
  float: none;
  left: 0;
  padding: 3px;
  position: absolute;
  z-index: 5555;
}
/* line 196, ../sass/oink.scss */
tools belt search input[type="text"] {
  background: inherit;
  border: none;
  height: 30px;
  left: 40px;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 160px;
}
/* line 207, ../sass/oink.scss */
tools belt select {
  float: right;
  margin-bottom: 0;
}
/* line 211, ../sass/oink.scss */
tools belt btngroup {
  float: right;
  margin: 0 10px 0 0;
}
/* line 214, ../sass/oink.scss */
tools belt btngroup button, tools belt btngroup a.btn {
  border-radius: 0;
}
/* line 216, ../sass/oink.scss */
tools belt btngroup button.first, tools belt btngroup a.btn.first {
  border-right: 0;
  border-radius: 4px 0 0 4px;
}
/* line 217, ../sass/oink.scss */
tools belt btngroup button.last, tools belt btngroup a.btn.last {
  border-left: 0;
  border-radius: 0 4px 4px 0;
}
/* line 220, ../sass/oink.scss */
tools belt button, tools belt a.btn {
  border: 1px solid #191919;
  border-radius: 4px;
  color: #CCC;
  float: right;
  font-size: 1.2em;
  height: 24px;
  margin: 0;
  padding: 3px;
  width: 24px;
  background-color: #2c2b30;
  background-image: -webkit-linear-gradient(top, #36353a, #2c2b30);
  background-image: -moz-linear-gradient(top, #36353a, #2c2b30);
  background-image: -ms-linear-gradient(top, #36353a, #2c2b30);
  background-image: -o-linear-gradient(top, #36353a, #2c2b30);
}
/* line 231, ../sass/oink.scss */
tools belt button.left, tools belt a.btn.left {
  float: left;
  margin: 0 10px 0 0;
}
/* line 232, ../sass/oink.scss */
tools belt button.right, tools belt a.btn.right {
  float: right;
}
/* line 233, ../sass/oink.scss */
tools belt button.txt, tools belt a.btn.txt {
  font-size: 0.7em;
  font-weight: 700;
  line-height: 24px;
  padding: 3px 8px;
  text-decoration: none;
  width: auto;
}
/* line 241, ../sass/oink.scss */
tools belt button:hover, tools belt a.btn:hover {
  background: #222;
}
/* line 242, ../sass/oink.scss */
tools belt button.active, tools belt a.btn.active {
  background: #222;
}
/* line 244, ../sass/oink.scss */
tools belt:after {
  content: "";
  display: table;
  clear: both;
}

/* line 252, ../sass/oink.scss */
content {
  background: #F5F5F5;
  height: 100%;
  padding: 61px 0 50px 0;
  position: absolute;
  width: 100%;
}

/* line 259, ../sass/oink.scss */
navbar {
  background: #27262A;
  border-right: 1px solid #29292C;
  height: 100%;
  left: 0;
  position: fixed;
  width: 22%;
  z-index: 3333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 268, ../sass/oink.scss */
navbar balance {
  background-color: #00597A;
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, #00597a), color-stop(100%, #003f56));
  background-image: -webkit-radial-gradient(50% 50%, circle cover, #00597a, #003f56);
  background-image: -moz-radial-gradient(50% 50%, circle cover, #00597a, #003f56);
  background-image: -ms-radial-gradient(50% 50%, circle cover, #00597a, #003f56);
  background-image: -o-radial-gradient(50% 50%, circle cover, #00597a, #003f56);
  background-image: radial-gradient(50% 50%, circle cover, #00597a, #003f56);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid #191919;
  color: #FFF;
  display: block;
  font-size: 2.25em;
  line-height: 40px;
  height: 40px;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}
/* line 287, ../sass/oink.scss */
navbar ngroup {
  border-top: 1px solid #454545;
  border-bottom: 1px solid #191919;
  color: #454545;
  display: block;
  font-size: 0.7em;
  font-weight: 700;
  line-height: 16px;
  height: 32px;
  padding: 8px 15px;
  text-shadow: 0 -1px 0 #191919;
  text-transform: uppercase;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 302, ../sass/oink.scss */
navbar ul {
  padding: 0;
  margin: 0;
}
/* line 305, ../sass/oink.scss */
navbar ul li a {
  border-top: 1px solid #454545;
  border-bottom: 1px solid #191919;
  color: #999;
  display: block;
  font-size: 1em;
  line-height: 24px;
  height: 24px;
  padding: 15px;
  vertical-align: top;
  background-color: #2c2b30;
  background-image: -webkit-linear-gradient(top, #36353a, #2c2b30);
  background-image: -moz-linear-gradient(top, #36353a, #2c2b30);
  background-image: -ms-linear-gradient(top, #36353a, #2c2b30);
  background-image: -o-linear-gradient(top, #36353a, #2c2b30);
}
/* line 316, ../sass/oink.scss */
navbar ul li a:hover {
  border-top-color: #222;
  text-decoration: none;
  background-color: #232226;
  background-image: -webkit-linear-gradient(top, #1b1b1d, #232226);
  background-image: -moz-linear-gradient(top, #1b1b1d, #232226);
  background-image: -ms-linear-gradient(top, #1b1b1d, #232226);
  background-image: -o-linear-gradient(top, #1b1b1d, #232226);
}
/* line 317, ../sass/oink.scss */
navbar ul li a.active {
  border-top-color: #222;
  text-decoration: none;
  background-color: #232226;
  background-image: -webkit-linear-gradient(top, #1b1b1d, #232226);
  background-image: -moz-linear-gradient(top, #1b1b1d, #232226);
  background-image: -ms-linear-gradient(top, #1b1b1d, #232226);
  background-image: -o-linear-gradient(top, #1b1b1d, #232226);
}
/* line 318, ../sass/oink.scss */
navbar ul li a span {
  border-radius: 3px;
  color: #999;
  display: inline-block;
  font-size: 16px;
  height: 24px;
  margin: 0 15px 0 0;
  width: 24px;
}
/* line 327, ../sass/oink.scss */
navbar ul li a img {
  border-radius: 3px;
  display: inline-block;
  height: 24px;
  margin: 0 15px 0 0;
  width: 24px;
}

/* line 337, ../sass/oink.scss */
section {
  background: #FAFAFA;
  border-right: 1px solid #DDD;
  height: 100%;
  left: 22%;
  position: absolute;
  width: 50%;
  z-index: 3333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 347, ../sass/oink.scss */
sidebar {
  border-left: 1px solid #FFF;
  height: 100%;
  padding: 40px 15px 15px 15px;
  position: fixed;
  right: 0;
  width: 28%;
  z-index: 3333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 356, ../sass/oink.scss */
sidebar h3 {
  margin: 0 0 10px 0;
}
/* line 357, ../sass/oink.scss */
sidebar date {
  color: #666;
  display: block;
  margin: 0 0 20px 0;
}
/* line 362, ../sass/oink.scss */
sidebar p {
  color: #999;
  font-size: 1em;
  margin: 0 0 20px 0;
}
/* line 367, ../sass/oink.scss */
sidebar ul.tag {
  height: 11px;
  list-style: none;
  margin: 0 0 30px 0;
  padding: 0;
}
/* line 372, ../sass/oink.scss */
sidebar ul.tag li {
  background: #FFF;
  border: 1px solid #CCC;
  border-radius: 10px;
  color: #999;
  display: inline;
  font-size: 0.7em;
  margin: 0 3px 0 0;
  padding: 2px 6px;
}
/* line 383, ../sass/oink.scss */
sidebar location {
  background: #999;
  display: block;
  height: 160px;
  margin: 0 0 30px 0;
  width: 100%;
}
/* line 390, ../sass/oink.scss */
sidebar img.avatar {
  float: left;
  margin: 20px 20px 20px 0;
}
/* line 394, ../sass/oink.scss */
sidebar detail {
  float: left;
  height: 20px;
  line-height: 20px;
  margin: 20px 0;
}

/* line 402, ../sass/oink.scss */
footer {
  bottom: 0;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 9999;
  background-color: #232226;
  background-image: -webkit-linear-gradient(top, #1b1b1d, #232226);
  background-image: -moz-linear-gradient(top, #1b1b1d, #232226);
  background-image: -ms-linear-gradient(top, #1b1b1d, #232226);
  background-image: -o-linear-gradient(top, #1b1b1d, #232226);
}
/* line 409, ../sass/oink.scss */
footer a.btn {
  background: #F66;
  border: 1px solid #191919;
  border-radius: 4px;
  color: #FFF;
  display: block;
  float: left;
  font-size: 0.9em;
  font-weight: 700;
  height: 24px;
  line-height: 24px;
  margin: 10px;
  padding: 3px 0;
  text-align: center;
  text-decoration: none;
  width: 120px;
}
/* line 426, ../sass/oink.scss */
footer a.home {
  color: #999;
  float: left;
  font-size: 0.8em;
  line-height: 50px;
  margin: 0 10px 0 20px;
  text-decoration: none;
}

/* line 438, ../sass/oink.scss */
cover {
  background: #DDD;
  display: block;
  height: auto;
  position: relative;
  width: 100%;
  z-index: 3333;
}
/* line 445, ../sass/oink.scss */
cover img {
  margin: 0;
  max-height: 400px;
  position: relative;
  width: auto;
  z-index: 3434;
}
/* line 452, ../sass/oink.scss */
cover info {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 4444;
}
/* line 457, ../sass/oink.scss */
cover info avatar img {
  border: 6px solid #FFF;
  border-radius: 132px;
  -webkit-box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.2);
  display: block;
  height: 120px;
  margin: 60px auto 32px auto;
  width: 120px;
  z-index: 4444;
}
/* line 469, ../sass/oink.scss */
cover info individual, cover info company {
  color: #FFF;
  display: block;
  font-size: 2em;
  font-weight: 700;
  margin: 0;
  text-align: center;
  text-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  z-index: 454545;
}
/* line 480, ../sass/oink.scss */
cover info company {
  font-size: 1em;
}

/* line 485, ../sass/oink.scss */
ul.notifications {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* line 490, ../sass/oink.scss */
ul.notifications li {
  background: #EDEDED;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #DDD;
  color: #454545;
  font-size: 0.9em;
  line-height: 20px;
  padding: 15px 30px;
}
/* line 498, ../sass/oink.scss */
ul.notifications li a {
  color: #00597A;
}

/* line 504, ../sass/oink.scss */
ul.transactions {
  list-style: none;
  margin: 0;
  padding: 15px;
}
/* line 508, ../sass/oink.scss */
ul.transactions li a {
  background: #FFF;
  border: 1px solid #CCC;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.03);
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.03);
  display: block;
  margin: 0 0 10px 0;
  overflow: hidden;
  padding: 20px;
  width: 100%;
  transition: 1s all;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 522, ../sass/oink.scss */
ul.transactions li a:hover {
  background-color: #f9f9f9;
  background-image: -webkit-linear-gradient(top, white, #f9f9f9);
  background-image: -moz-linear-gradient(top, white, #f9f9f9);
  background-image: -ms-linear-gradient(top, white, #f9f9f9);
  background-image: -o-linear-gradient(top, white, #f9f9f9);
  border-color: #BBB;
  text-decoration: none;
}
/* line 527, ../sass/oink.scss */
ul.transactions li a.highlight {
  background: #fafafa;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
}
/* line 532, ../sass/oink.scss */
ul.transactions img {
  background: #666;
  border-radius: 3px;
  float: left;
  height: 40px;
  margin: 0 12px 0 0;
  width: 40px;
}
/* line 540, ../sass/oink.scss */
ul.transactions date {
  color: #999;
  float: left;
  font-size: 0.8em;
  font-weight: 700;
  line-height: 1.2;
  height: 38px;
  padding: 2px 0 0 0;
  text-align: center;
  text-transform: uppercase;
  width: 30px;
}
/* line 551, ../sass/oink.scss */
ul.transactions date span {
  font-size: 1.8em;
}
/* line 553, ../sass/oink.scss */
ul.transactions detail {
  float: left;
  line-height: 1.2;
  height: 40px;
  margin: 0 20px 0 12px;
  max-width: 38%;
}
/* line 559, ../sass/oink.scss */
ul.transactions detail h6 {
  font-weight: 700;
  margin: 0 0 4px 0;
}
/* line 560, ../sass/oink.scss */
ul.transactions detail i {
  color: #999;
}
/* line 562, ../sass/oink.scss */
ul.transactions ul.tag {
  float: right;
  height: 11px;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 10px 0;
}
/* line 569, ../sass/oink.scss */
ul.transactions ul.tag li {
  background: #FFF;
  border: 1px solid #CCC;
  border-radius: 10px;
  color: #999;
  display: inline;
  font-size: 0.7em;
  margin: 0 3px 0 0;
  padding: 2px 6px;
}
/* line 580, ../sass/oink.scss */
ul.transactions h5.amount {
  color: #A5CC59;
  float: right;
  font-weight: 700;
  line-height: 40px;
  margin: 0 0 0 20px;
  text-align: right;
  width: 20%;
}
/* line 588, ../sass/oink.scss */
ul.transactions h5.amount.debit {
  color: #BF0738;
}

/* line 595, ../sass/oink.scss */
.fb-wrapper {
  width: 400px;
  padding: 20px;
  font-size: 0.9em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 604, ../sass/oink.scss */
.clear:after {
  content: "";
  display: table;
  clear: both;
}
